In [1]:
import pandas as pd
import numpy as np

In [12]:
# Load full collection files into dataframes
df_closest = pd.read_csv("typeIII_submission_full_collection_closest.csv")
df_hungarian = pd.read_csv("typeIII_submission_full_collection_hungarian.csv")

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
321,0.08000000000000007,SM18,Epik Microscopic,2.23,2.15,SM18_pKa1,1.16,0.02,Bas Rustenburg,nb010
322,-0.4199999999999999,SM18,Epik Microscopic,9.16,9.58,SM18_pKa2,1.07,0.03,Bas Rustenburg,nb010
323,-0.21999999999999886,SM18,Epik Microscopic,10.8,11.02,SM18_pKa3,1.53,0.04,Bas Rustenburg,nb010
1355,--,SM18,Epik Microscopic,1.29,--,--,1.69,--,Bas Rustenburg,nb010

## 1. Compare Closest and Hungarian Matching for Epik
Both Hungarian and Closest matches lead to the same result.

In [16]:
# Look at 1 submission 1 molecule
df_closest_epik = df_closest[df_closest["receipt_id"] == "nb010"]
df_closest_epik_SM18 = df_closest_epik[df_closest_epik["Molecule ID"] == "SM18"]
df_closest_epik_SM18

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
321,0.08000000000000007,SM18,Epik Microscopic,2.23,2.15,SM18_pKa1,1.16,0.02,Bas Rustenburg,nb010
322,-0.4199999999999999,SM18,Epik Microscopic,9.16,9.58,SM18_pKa2,1.07,0.03,Bas Rustenburg,nb010
323,-0.21999999999999886,SM18,Epik Microscopic,10.8,11.02,SM18_pKa3,1.53,0.04,Bas Rustenburg,nb010
1355,--,SM18,Epik Microscopic,1.29,--,--,1.69,--,Bas Rustenburg,nb010

In [13]:
df_hungarian_epik = df_hungarian[df_hungarian["receipt_id"] == "nb010"]
df_hungarian_epik_SM18 = df_hungarian_epik[df_hungarian_epik["Molecule ID"] == "SM18"]
df_hungarian_epik_SM18

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
326,0.08000000000000007,SM18,Epik Microscopic,2.23,2.15,SM18_pKa1,1.16,0.02,Bas Rustenburg,nb010
327,-0.4199999999999999,SM18,Epik Microscopic,9.16,9.58,SM18_pKa2,1.07,0.03,Bas Rustenburg,nb010
328,-0.21999999999999886,SM18,Epik Microscopic,10.8,11.02,SM18_pKa3,1.53,0.04,Bas Rustenburg,nb010
1378,--,SM18,Epik Microscopic,1.29,--,--,1.69,--,Bas Rustenburg,nb010

In [14]:
df_closest_epik = df_closest[df_closest["receipt_id"] == "nb010"]
df_closest_epik_SM14 = df_closest_epik[df_closest_epik["Molecule ID"] == "SM14"]
df_closest_epik_SM14

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
314,-2.3,SM14,Epik Microscopic,0.28,2.58,SM14_pKa1,0.7,0.01,Bas Rustenburg,nb010
315,1.0499999999999998,SM14,Epik Microscopic,6.35,5.3,SM14_pKa2,1.97,0.01,Bas Rustenburg,nb010
1354,--,SM14,Epik Microscopic,15.31,--,--,0.9,--,Bas Rustenburg,nb010

In [15]:
df_hungarian_epik = df_hungarian[df_hungarian["receipt_id"] == "nb010"]
df_hungarian_epik_SM14 = df_hungarian_epik[df_hungarian_epik["Molecule ID"] == "SM14"]
df_hungarian_epik_SM14

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
319,-2.3,SM14,Epik Microscopic,0.28,2.58,SM14_pKa1,0.7,0.01,Bas Rustenburg,nb010
320,1.0499999999999998,SM14,Epik Microscopic,6.35,5.3,SM14_pKa2,1.97,0.01,Bas Rustenburg,nb010
1377,--,SM14,Epik Microscopic,15.31,--,--,0.9,--,Bas Rustenburg,nb010

In [17]:
df_closest_epik = df_closest[df_closest["receipt_id"] == "nb010"]
df_closest_epik_SM15 = df_closest_epik[df_closest_epik["Molecule ID"] == "SM15"]
df_closest_epik_SM15

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
316,1.12,SM15,Epik Microscopic,5.82,4.7,SM15_pKa1,1.03,0.01,Bas Rustenburg,nb010
317,-0.22999999999999865,SM15,Epik Microscopic,8.71,8.94,SM15_pKa2,1.95,0.01,Bas Rustenburg,nb010

In [18]:
df_hungarian_epik = df_hungarian[df_hungarian["receipt_id"] == "nb010"]
df_hungarian_epik_SM15 = df_hungarian_epik[df_hungarian_epik["Molecule ID"] == "SM15"]
df_hungarian_epik_SM15

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
321,1.12,SM15,Epik Microscopic,5.82,4.7,SM15_pKa1,1.03,0.01,Bas Rustenburg,nb010
322,-0.22999999999999865,SM15,Epik Microscopic,8.71,8.94,SM15_pKa2,1.95,0.01,Bas Rustenburg,nb010

## 2. Compare Closest and Hungarian Matching for Jaguar
Both Hungarian and Closest matches lead to the same result.

In [20]:
df_closest_jaguar = df_closest[df_closest["receipt_id"] == "nb013"]
df_closest_jaguar_SM18 = df_closest_jaguar[df_closest_jaguar["Molecule ID"] == "SM18"]
df_closest_jaguar_SM18

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
228,-0.8599999999999999,SM18,Jaguar,1.29,2.15,SM18_pKa1,0.85,0.02,Bas Rustenburg,nb013
229,-0.6799999999999997,SM18,Jaguar,8.9,9.58,SM18_pKa2,1.12,0.03,Bas Rustenburg,nb013
230,1.41,SM18,Jaguar,12.43,11.02,SM18_pKa3,0.82,0.04,Bas Rustenburg,nb013
1253,--,SM18,Jaguar,-2.63,--,--,0.83,--,Bas Rustenburg,nb013

In [21]:
df_hungarian_jaguar = df_hungarian[df_hungarian["receipt_id"] == "nb013"]
df_hungarian_jaguar_SM18 = df_hungarian_jaguar[df_hungarian_jaguar["Molecule ID"] == "SM18"]
df_hungarian_jaguar_SM18

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
233,-0.8599999999999999,SM18,Jaguar,1.29,2.15,SM18_pKa1,0.85,0.02,Bas Rustenburg,nb013
234,-0.6799999999999997,SM18,Jaguar,8.9,9.58,SM18_pKa2,1.12,0.03,Bas Rustenburg,nb013
235,1.41,SM18,Jaguar,12.43,11.02,SM18_pKa3,0.82,0.04,Bas Rustenburg,nb013
1276,--,SM18,Jaguar,-2.63,--,--,0.83,--,Bas Rustenburg,nb013

In [22]:
df_closest_jaguar = df_closest[df_closest["receipt_id"] == "nb013"]
df_closest_jaguar_SM14 = df_closest_jaguar[df_closest_jaguar["Molecule ID"] == "SM14"]
df_closest_jaguar_SM14

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
221,0.1499999999999999,SM14,Jaguar,2.73,2.58,SM14_pKa1,1.78,0.01,Bas Rustenburg,nb013
222,0.16000000000000014,SM14,Jaguar,5.46,5.3,SM14_pKa2,0.48,0.01,Bas Rustenburg,nb013
1249,--,SM14,Jaguar,18.29,--,--,0.21,--,Bas Rustenburg,nb013

In [23]:
df_hungarian_jaguar = df_hungarian[df_hungarian["receipt_id"] == "nb013"]
df_hungarian_jaguar_SM14 = df_hungarian_jaguar[df_hungarian_jaguar["Molecule ID"] == "SM14"]
df_hungarian_jaguar_SM14

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
226,0.1499999999999999,SM14,Jaguar,2.73,2.58,SM14_pKa1,1.78,0.01,Bas Rustenburg,nb013
227,0.16000000000000014,SM14,Jaguar,5.46,5.3,SM14_pKa2,0.48,0.01,Bas Rustenburg,nb013
1272,--,SM14,Jaguar,18.29,--,--,0.21,--,Bas Rustenburg,nb013

## 3. Compare Closest and Hungarian Matching for nb006
Both Hungarian and Closest matches are different for SM18 and SM14 but the matching is as expected. In the case of SM14 the closest matching leads to higher absolute error.

In [25]:
df_closest_1sub = df_closest[df_closest["receipt_id"] == "nb006"]
df_closest_1sub_SM18 = df_closest_1sub[df_closest_1sub["Molecule ID"] == "SM18"]
df_closest_1sub_SM18

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
503,-1.97,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",0.18,2.15,SM18_pKa1,1.77,0.02,Stefan Kast,nb006
504,0.5099999999999998,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",11.53,11.02,SM18_pKa3,1.77,0.04,Stefan Kast,nb006
1617,--,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",-3.64,--,--,1.77,--,Stefan Kast,nb006
1618,--,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",11.75,--,--,1.77,--,Stefan Kast,nb006
2339,--,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",--,SM18_pKa2,SM18_pKa2,--,0.03,Stefan Kast,nb006

In [26]:
df_hungarian_1sub = df_hungarian[df_hungarian["receipt_id"] == "nb006"]
df_hungarian_1sub_SM18 = df_hungarian_1sub[df_hungarian_1sub["Molecule ID"] == "SM18"]
df_hungarian_1sub_SM18

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
514,-1.97,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",0.18,2.15,SM18_pKa1,1.77,0.02,Stefan Kast,nb006
515,0.7300000000000004,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",11.75,11.02,SM18_pKa3,1.77,0.04,Stefan Kast,nb006
516,1.9499999999999995,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",11.53,9.58,SM18_pKa2,1.77,0.03,Stefan Kast,nb006
1634,--,SM18,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",-3.64,--,--,1.77,--,Stefan Kast,nb006

In [29]:
df_closest_1sub = df_closest[df_closest["receipt_id"] == "nb006"]
df_closest_1sub_SM14 = df_closest_1sub[df_closest_1sub["Molecule ID"] == "SM14"]
df_closest_1sub_SM14

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
496,0.7999999999999998,SM14,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",3.38,2.58,SM14_pKa1,1.77,0.01,Stefan Kast,nb006
497,19.33,SM14,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",24.63,5.3,SM14_pKa2,1.77,0.01,Stefan Kast,nb006
1613,--,SM14,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",-1.77,--,--,1.77,--,Stefan Kast,nb006

In [30]:
df_hungarian_1sub = df_hungarian[df_hungarian["receipt_id"] == "nb006"]
df_hungarian_1sub_SM14 = df_hungarian_1sub[df_hungarian_1sub["Molecule ID"] == "SM14"]
df_hungarian_1sub_SM14

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
507,-4.35,SM14,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",-1.77,2.58,SM14_pKa1,1.77,0.01,Stefan Kast,nb006
508,-1.92,SM14,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",3.38,5.3,SM14_pKa2,1.77,0.01,Stefan Kast,nb006
1630,--,SM14,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",24.63,--,--,1.77,--,Stefan Kast,nb006

In [31]:
df_closest_1sub = df_closest[df_closest["receipt_id"] == "nb006"]
df_closest_1sub_SM15 = df_closest_1sub[df_closest_1sub["Molecule ID"] == "SM15"]
df_closest_1sub_SM15

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
498,-2.62,SM15,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",2.08,4.7,SM15_pKa1,1.77,0.01,Stefan Kast,nb006
499,2.7900000000000014,SM15,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",11.73,8.94,SM15_pKa2,1.77,0.01,Stefan Kast,nb006

In [32]:
df_hungarian_1sub = df_hungarian[df_hungarian["receipt_id"] == "nb006"]
df_hungarian_1sub_SM15 = df_hungarian_1sub[df_hungarian_1sub["Molecule ID"] == "SM15"]
df_hungarian_1sub_SM15

,$\Delta$pKa error (calc - exp),Molecule ID,name,pKa (calc),pKa (exp),pKa ID,pKa SEM (calc),pKa SEM (exp),participant,receipt_id
509,-2.62,SM15,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",2.08,4.7,SM15_pKa1,1.77,0.01,Stefan Kast,nb006
510,2.7900000000000014,SM15,"EC-RISM/MP2/6-311+G(d,p)-P3NI-phi-all-1par",11.73,8.94,SM15_pKa2,1.77,0.01,Stefan Kast,nb006